<sticky-header>
	<header-buttons>
		<button mat-icon-button (click)="refresh()">
			<fa-icon icon="sync"></fa-icon>
		</button>
		<a mat-icon-button [routerLink]="['/', 'list']">
			<fa-icon icon="list"></fa-icon>
		</a>
		<a mat-icon-button [routerLink]="['/', 'notes']">
			<fa-icon icon="clipboard"></fa-icon>
		</a>
		<button mat-icon-button (click)="logout()">
			<fa-icon icon="sign-out-alt" size="lg"></fa-icon>
		</button>
	</header-buttons>
	<page-content>
		<h1>Elő a popcornnal! 🍿</h1>
		<div *ngFor="let movie of movies">
			<movie-detail [movie]="movie.movie" [movieState]="movie.state" (watched)="watched(movie)"></movie-detail>
		</div>
	</page-content>
</sticky-header>