.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.greeting {
	flex: 1;
	font-size: 1.2rem;
}

.header {
	align-items: center;
	background-color: #eee;
	display: flex;
	padding: .5rem 1rem;
}

.content {
	flex: 1;
	padding: 1rem;
}

mat-progress-bar {
	position: relative
}