@import '~@angular/material/theming';
@include mat-core();

$pmc-primary: mat-palette($mat-green, 900);
$pmc-accent: mat-palette($mat-blue-grey, 700);
$pmc-warn: mat-palette($mat-red);
$pmc-theme: mat-light-theme($pmc-primary, $pmc-accent, $pmc-warn);

@include angular-material-theme($pmc-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
	margin: .5rem;
}

button + button.mat-button {
	margin-left: 1rem;
}

.top-margin {
	margin-top: 1rem;
}